.bkg {
  background-image: url("../assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: fixed;
}

.title {
  color: #fff;
  /* color: #b11a21; */
  flex-direction: column;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 6px 6px 4px rgba(44, 11, 34, 0.473);
  font-size: 40px;
  text-align: center;
  position: relative;
}

.detailContainer {
  border: 5px;
  width: 90%;
  margin: 2%;
  padding: 2%;
}

.text {
  font-size: 16px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  text-decoration: "none";
  color: #311601;
  font-weight: bolder;
}

.back {
  margin-top: 683px;
  margin-right: -90%;
}

.backbutton {
  border: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: #c485ba83;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 12px;
}

.backbutton:hover {
  background-color: #fff;
  border: none;
  color: #220f00;
  transition-delay: 0.2s;
  transition: 0.8s;
}

.container {
  position: fixed;
  width: 800px;
  height: 630px;
  margin-top: 50px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 400px;
  text-decoration: none;
  outline: none;
  border-radius: 15px;
  background-color: #fdf6fc73;
  backdrop-filter: 1px;
  /* box-shadow: 0 0 2px #DE6200, 0 0 2px #DE6200, 0 0 2px  #DE6200;  */
  border: #949193 1px solid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container:hover {
  box-shadow: 0 0 10px rgba(44, 11, 34, 0.404), 0 0 10px rgba(44, 11, 34, 0.404),
    0 0 10px rgba(44, 11, 34, 0.404);
  transition-delay: 0.2s;
  transition: 0.8s;
  position: relative;
  top: -10px;
}

.image {
  border-radius: 5%;
  justify-content: center;
  height: auto;
  width: auto;
  max-width: 350px;
  max-height: 350px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
